html {
	background-color: #000;
	background-image: url(images/ADN-trans.png);
	background-size: auto 80%;
	background-size: auto 80vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 18px;
}
body {
	background: rgba(0,0,0,0.5);
	color: #fefefe;
}
header, section, footer {
	text-align: center;
	padding: 100px;
}
header {
	min-height: 800px;
	min-height: 100%;
	min-height: 100vh;
}
header h1, header h3 {
	padding-top: 30px;
}
header .image {
	background: grey;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #f1f2ee url(images/Anael_Foto_Principal.jpg);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center 3px;
	display: inline-block;
	margin-top: 120px;
}
nav ul {
	list-style: none;
	background: rgba(0,0,0,.2);
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	z-index: 10;
	display: flex;
	text-align: center;
	padding: 0;
}
nav ul li {
	flex: 1;
}
nav ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 20px;
}
nav ul li:hover a {
	background: #ccc;
	color: #333;
}
footer {
	padding: 30px;
}
footer p {
	margin-bottom: 0px;
}
h2 {
	padding-bottom: 50px;
}
a, a:hover {
	color: #fefefe;
	text-decoration: none;
	font-weight: bolder;
}
section#portfolio img {
	width: 100%;
	border: 10px solid #333;
	margin-bottom: 2px;
	filter: grayscale(1) brightness(.5);
	transition: filter 300ms ease, border 300ms ease, margin 300ms ease;
}
section#portfolio img:hover {
	border: 2px solid #333;
	margin-bottom: 10px;
	filter: grayscale(0) brightness(1);
}
section#contact img {
	background: #fff;
	width: 30px;
}
section#contact ul {
	padding: 0;
}
section#contact ul li {
	display: inline-block;
	list-style: none;
}
section#contact ul li a {
	padding: 10px 18px;
	border: 1px solid #ccc;
	font-size: 2rem;
	line-height: 2.1rem;
}
section#contact ul li a:hover {
	color: #333;
	background: #ccc;
}
section#about-me {
	background: #333;
}
footer {
	background: #222;
}
footer span {
	color: #666;
}
.preview {
	padding: 50px;
}
.preview p {
	padding: 10px;
}